<template>
  <v-row>
    <v-col cols="12" sm="12" md="12">
      <v-row>
        <v-col cols="12" sm="12" md="6">
          Pilih Periode
          <v-menu ref="menu" v-model="menu" :close-on-content-click="true" transition="scale-transition" offset-y
            max-width="290px" min-width="290px">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="form.tanggal" label="Pilih Periode" readonly v-bind="attrs" v-on="on" solo>
              </v-text-field>
            </template>
            <v-date-picker v-model="form.tanggal" type="month" locale="id" :color="$store.state.color">
            </v-date-picker>
          </v-menu>
          Pilih Cabang
          <v-autocomplete v-model="form.cabang" :items="listCabang" item-text="nama" item-value="id" dense filled
            label="Pilih Cabang" solo></v-autocomplete>
          <v-btn color="secondary" fab small dark link to="/" class="text-decoration-none ml-2" title="Kembali">
            <v-icon>
              mdi-arrow-left
            </v-icon>
          </v-btn>
          <v-btn color="red darken-3" fab small class="ml-2" dark @click="resetFilter" title="Reset Filter">
            <v-icon>
              mdi-close-circle
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="12" sm="12" md="6" v-if="form.tanggal && !form.cabang">
      <v-card outlined tile elevation="5">
        <ChartPerbandingan :tanggal="form.tanggal" v-if="render"/>
      </v-card>
    </v-col>
    <template v-for="item in listCabang">
      <v-col cols="12" sm="12" md="12" :key="item.id"
        v-if="form.tanggal && form.cabang && form.cabang == item.id">
        <v-card class="mx-auto" outlined tile elevation="5">
          <ChartCabang :cabang_id="item.id" :tanggal="form.tanggal" v-if="render"/>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="6" :key="item.id" v-if="form.tanggal && !form.cabang">
        <v-card class="mx-auto" outlined tile elevation="5">
          <ChartCabang :cabang_id="item.id" :tanggal="form.tanggal" v-if="render"/>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
  import moment from 'moment';
  import ChartCabang from "../../components/ChartCabang.vue";
  import ChartPerbandingan from "../../components/ChartPerbandingan.vue";
  import {
    mapGetters
  } from "vuex";
  export default {
    components: {
      ChartCabang,
      ChartPerbandingan,
    },
    data() {
      return {
        menu: false,
        modal: false,
        render: false,
        moment,
        form: {
          cabang: null,
          tanggal: null
        },
        listCabang: []
      };
    },
    name: "Grafik",
    computed: {
      ...mapGetters({
        user: "auth/user",
      }),
    },
    methods: {
      async loadData() {
        const response = await this.$axios.get("/v1/list/cabang");
        this.listCabang = response.data.result;
      },
      resetFilter(){
        this.form.cabang = null
        this.form.tanggal = null
      }
    },
    watch: {
      'form.tanggal': async function (val) {
        this.render = false
        await this.$nextTick()
        this.render = true
      },
      'form.cabang': async function (val) {
        this.render = false
        await this.$nextTick()
        this.render = true
      },
    },
    mounted() {
      this.loadData();
    },
  };
</script>