<template>
  <v-row>
    <v-col cols="12" sm="12" md="12">
      <v-row>
        <v-col cols="12" sm="12" md="6">
          Pilih Periode
          <v-menu ref="menu" v-model="menu" :close-on-content-click="true" transition="scale-transition" offset-y
            max-width="290px" min-width="290px">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="form.tanggal" label="Pilih Periode" readonly v-bind="attrs" v-on="on" solo>
              </v-text-field>
            </template>
            <v-date-picker v-model="form.tanggal" type="month" locale="id" :color="$store.state.color">
            </v-date-picker>
          </v-menu>
          Pilih Cabang
          <v-autocomplete v-model="form.cabang" :items="listCabang" item-text="nama" item-value="id" dense filled
            label="Pilih Cabang" solo></v-autocomplete>
          <v-btn color="secondary" fab small dark link to="/" class="text-decoration-none" title="Kembali">
            <v-icon>
              mdi-arrow-left
            </v-icon>
          </v-btn>
          <v-btn color="red darken-3" class="ml-2" fab small dark @click="resetFilter" title="Reset Filter">
            <v-icon>
              mdi-close-circle
            </v-icon>
          </v-btn>
          <v-btn color="success" class="ml-2" @click="download" fab small :disabled="!form.tanggal" title="Download">
            <v-icon>
              mdi-download
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="12" sm="12" md="12" v-if="form.tanggal && !form.cabang">
      <v-card outlined tile elevation="5">
        <v-card-text>
          <h6> Laporan Seluruh Cabang </h6>
          Periode {{moment(form.tanggal).locale('id').format('MMMM YYYY')}}
        </v-card-text>
        <TabelAll :tanggal="form.tanggal" v-if="render"/>
      </v-card>
    </v-col>
    <template v-for="item in listCabang">
      <v-col cols="12" sm="12" md="12" :key="item.id" v-if="form.tanggal && form.cabang && form.cabang == item.id">
        <v-card class="mx-auto" outlined tile elevation="5">
          <v-card-text>
            <h6> Laporan Cabang {{ item.nama }} </h6>
            Periode {{moment(form.tanggal).locale('id').format('MMMM YYYY')}}
          </v-card-text>
          <TabelCabang :cabang_id="item.id" :tanggal="form.tanggal" v-if="render" />
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="12" :key="item.id" v-if="form.tanggal && !form.cabang">
        <v-card class="mx-auto" outlined tile elevation="5">
          <v-card-text>
            <h6> Laporan Cabang {{ item.nama }} </h6>
            Periode {{moment(form.tanggal).locale('id').format('MMMM YYYY')}}
          </v-card-text>
          <TabelCabang :cabang_id="item.id" :tanggal="form.tanggal" v-if="render" />
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
  import moment from 'moment';
  import TabelCabang from "../../components/TabelCabang.vue";
  import TabelAll from "../../components/TabelAll.vue";
  import {
    mapGetters
  } from "vuex";
  export default {
    components: {
      TabelCabang,
      TabelAll,
    },
    data() {
      return {
        menu: false,
        modal: false,
        render: false,
        picker: moment().format('YYYY-MM-DD'),
        moment,
        form: {
          cabang: null,
          tanggal: null,
        },
        listCabang: [],
      };
    },
    name: "Laporan",
    computed: {
      ...mapGetters({
        user: "auth/user",
      }),
    },
    methods: {
      async loadData() {
        const response = await this.$axios.get("/v1/list/cabang");
        this.listCabang = response.data.result;
      },
      resetFilter() {
        this.form.cabang = null
        this.form.tanggal = null
      },
      download() {
        this.$axios.get('/v1/laporan/excel', {
          params: {
            tanggal: this.form.tanggal
          },
          responseType: 'blob',
        }).then((response) => {
          const downloadUrl = window.URL.createObjectURL(new Blob([response.data], {
            type: response.headers['content-type']
          }));
          const namaFile = `Laporan-${moment(this.form.tanggal).locale('id').format('MMMM-YYYY')}.xlsx`;
          const link = document.createElement('a');
          link.href = downloadUrl;
          link.setAttribute('download', namaFile); //any other extension
          document.body.appendChild(link);
          link.click();
          link.remove();
        });
      }
    },
    watch: {
      'form.tanggal': async function (val) {
        this.render = false
        await this.$nextTick()
        this.render = true
      },
      'form.cabang': async function (val) {
        this.render = false
        await this.$nextTick()
        this.render = true
      },
    },
    mounted() {
      this.loadData();
    },
  };
</script>