<template>
  <div>
    <highcharts :options="chartOptions"></highcharts>
  </div>

</template>

<script>
  var that;
  import moment from 'moment';
  export default {
    props: {
      cabang_id: {
        type: Number,
      },
      tanggal: {
        type: String,
      }
    },
    data() {
      return {
        moment,
        data: [],
        params: {
          cabang_id: this.cabang_id,
          tanggal: this.tanggal,
        },
        chartOptions: {
          title: {
            text: '',
          },
          subtitle: {
            text: ''
          },
          xAxis: {
            categories: [],
            labels: {
              autoRotation: [-90],
              formatter: function () {
                return `${that.moment(this.value).locale('id').format('DD MMMM YYYY')}`;
              }
            },
          },
          tooltip: {
            useHTML: true,
            formatter: function () {
              return `
              <span style="font-size:10px">${that.moment(this.x).locale('id').format('DD MMMM YYYY')}</span><table>
              <table>
                <tr>
                  <td style="color:${this.series.color};padding:0">${this.series.name}: </td>
                  <td style="padding:0"> &nbsp;${that.convert(this.point.y)} </td>
                </tr>
              </table>
              `;
            }

          },
          plotOptions: {
            column: {
              pointPadding: 0.2,
              borderWidth: 0,
            },
            spline: {
              dataLabels: {
                enabled: true,
                formatter() {
                  return that.convert(this.point.y);
                }
              }
            }
          },
          yAxis: {
            title: {
              text: null
            },
            labels: {
              formatter: function () {
                let labelValue = this.value;
                return Math.abs(Number(labelValue)) >= 1.0e+9
                  ?
                  Math.abs(Number(labelValue)) / 1.0e+9 + " Milyar"
                  :
                  Math.abs(Number(labelValue)) >= 1.0e+6
                  ?
                  Math.abs(Number(labelValue)) / 1.0e+6 + " Juta"
                  :
                  Math.abs(Number(labelValue)) >= 1.0e+3
                  ?
                  Math.abs(Number(labelValue)) / 1.0e+3 + " Ribu"
                  :
                  Math.abs(Number(labelValue));
              },
            },
          },
          series: [{
            type: 'column',
            name: 'Pengeluaran',
            color: '#b4a486',
            data: []
          }, {
            type: 'column',
            name: 'Penjualan',
            color: '#8bc53f',
            data: []
          }, {
            type: 'spline',
            name: 'Keuntungan',
            color: '#e75f5b',
            data: [],
          }],
          credits: {
            enabled: false
          },
          responsive: {
            rules: [{
              condition: {
                maxWidth: 500
              },
            }]
          }
        }
      }
    },
    name: 'ChartCabang',
    methods: {
      async loadData() {
        const response = await this.$axios.get('/v1/dashboard/cabang', {
          params: this.params
        });
        this.chartOptions.title.text = response.data.result.text
        this.chartOptions.subtitle.text = response.data.result.subtitle
        this.chartOptions.xAxis.categories = response.data.result.labels
        this.chartOptions.series[0].data = response.data.result.data.total_pengeluaran
        this.chartOptions.series[1].data = response.data.result.data.total_penjualan
        this.chartOptions.series[2].data = response.data.result.data.persentase
      },
      convert(angka) {
        var rupiah = '';
        var angkarev = angka.toString().split('').reverse().join('');
        for (var i = 0; i < angkarev.length; i++)
          if (i % 3 == 0) rupiah += angkarev.substr(i, 3) + '.';
        return 'Rp. ' + rupiah.split('', rupiah.length - 1).reverse().join('');
      }
    },
    mounted() {
      that = this
      this.loadData();
    },
  }
</script>