<template>
  <highcharts :options="chartOptions"></highcharts>
</template>

<script>
  var that;
  export default {
    props: {
      tanggal: {
        type: String,
      },
    },
    data() {
      return {
        data: [],
        params: {
          tanggal: this.tanggal,
        },
        chartOptions: {
          title: {
            text: '',
          },
          subtitle: {
            text: ''
          },
          xAxis: {
            categories: [],
            labels: {
              autoRotation: [-90],
            },
          },
          yAxis: {
            title: {
              text: null
            },
            labels: {
              formatter: function () {
                return this.value + "%";
              },
            }, 
          },
          credits: {
            enabled: false
          },
          tooltip: {
            useHTML: true,
            formatter: function () {
              return `
              <span style="font-size:10px">${this.x}</span><table>
              <table>
                <tr>
                  <td style="color:${this.series.color};padding:0">${this.series.name}: </td>
                  <td style="padding:0">${this.point.y} %: </td>
                </tr>
              </table>
              `;
            }
          },
          plotOptions: {
            column: {
              dataLabels: {
                enabled: true,
                formatter() {
                  return this.point.y + ' %';
                }
              }
            },
          },
          series: [{
            type: 'column',
            name: 'Tingkat Efisiensi',
            color: '#59aec7',
            data: []
          }],
          responsive: {
            rules: [{
              condition: {
                maxWidth: 500
              },
              chartOptions: {
                legend: {
                  layout: 'horizontal',
                  align: 'center',
                  verticalAlign: 'bottom'
                }
              }
            }]
          }
        }
      }
    },
    name: 'ChartPerbandingan',
    methods: {
      async loadData() {
        const response = await this.$axios.get('/v1/dashboard/perbandingan', {
          params: this.params
        });
        this.chartOptions.title.text = response.data.result.text
        this.chartOptions.subtitle.text = response.data.result.subtitle
        this.chartOptions.xAxis.categories = response.data.result.labels
        this.chartOptions.series[0].data = response.data.result.data
      },
      convert(angka) {
        var rupiah = '';
        var angkarev = angka.toString().split('').reverse().join('');
        for (var i = 0; i < angkarev.length; i++)
          if (i % 3 == 0) rupiah += angkarev.substr(i, 3) + '.';
        return 'Rp. ' + rupiah.split('', rupiah.length - 1).reverse().join('');
      }
    },
    mounted() {
      that = this
      this.loadData();
    },
  }
</script>