<template>
  <v-footer padless>
    <v-col
      class="text-center"
      cols="12"
    >
      {{ new Date().getFullYear() }} — <strong>{{title}}</strong>
    </v-col>
  </v-footer>
</template>

<script>
export default {
  computed: {
    title() {
      return this.$store.state.name
    }
  },
}
</script>