<template>
  <v-simple-table style="overflow-X:auto">
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Cabang
          </th>
          <th class="text-left">
            Pengeluaran
          </th>
          <th class="text-left">
            Penjualan
          </th>
          <th class="text-left">
            Keuntungan
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.id">
          <td>{{ item.cabang.nama }}</td>
          <td>{{ formatRupiah(item.total_pengeluaran) }}</td>
          <td>{{ formatRupiah(item.total_penjualan) }}</td>
          <td>{{ formatRupiah(item.keuntungan) }}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{ formatRupiah(total_pengeluaran) }}</td>
          <td>{{ formatRupiah(total_penjualan) }}</td>
          <td>{{ formatRupiah(keuntungan) }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
  import moment from 'moment'
  export default {
    props: {
      tanggal: {
        type: String,
      },
    },
    data() {
      return {
        moment,
        params: {
          tanggal: this.tanggal,
        },
        items: [],
        total_pengeluaran: 0,
        total_penjualan: 0,
        keuntungan: 0
      }
    },
    methods: {
      async loadData() {
        const response = await this.$axios.get('/v1/laporan/laporan-all', {
          params: this.params
        });
        this.items = response.data.result
        this.total_pengeluaran = this.items.sum("total_pengeluaran")
        this.total_penjualan = this.items.sum("total_penjualan")
        this.keuntungan = this.items.sum("keuntungan")
      },
      formatRupiah(angka) {
        const result = angka.toString().replace(/\D/g, "")
          .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        return 'Rp. ' + result
      },
    },
    mounted() {
      this.loadData();
    }
  }
</script>