<template>
  <v-row>
    <v-col cols="12" sm="12" md="12">
      <v-card class="mx-auto text-center" outlined tile elevation="5" :color="$store.state.color" dark>
        <v-card-text>
          <h5 class="text-white">Selamat Datang, Kepala Cabang {{user.cabang.nama}} </h5>
          <h6>
            <v-icon dark>mdi-bell-ring</v-icon> {{ notifikasi }}
            <loading :active='loading' />
          </h6>
        </v-card-text>
      </v-card>
      <v-row align="center">
        <v-col cols="12" sm="12" md="6">
          <v-card class="mx-auto text-decoration-none" outlined tile elevation="5" :link="!data"
            :to="!data ? '/pemesanan' : ''">
            <v-card-text>
              <v-row align="center">
                <v-col cols="12" sm="2" md="2">
                  <v-icon large :color="!data ? 'error' : 'success'">
                    {{ !data ? 'mdi-notebook-remove' : 'mdi-notebook-check-outline'  }}
                  </v-icon>
                </v-col>
                <v-col cols="12" sm="10" md="10">
                  <h5 class="text--primary">
                    Pemesanan Bahan Baku
                  </h5>
                  <div class="text--primary">
                    Menu untuk menambahkan data pemesanan bahan Baku ke produksi
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="12" md="6">
          <v-card class="mx-auto text-decoration-none" outlined tile elevation="5"
            :link="data && data.status == 'terima-barang'"
            :to="data && data.status == 'terima-barang' ? `/penjualan/${data.id}` : ''">
            <v-card-text>
              <v-row align="center">
                <v-col cols="12" sm="2" md="2">
                  <v-icon large :color="data && data.status == 'tutup-buku' ? 'success' : 'error'">
                    {{ data && data.status == 'tutup-buku' ? 'mdi-book-check-outline' : 'mdi-book-remove' }}
                  </v-icon>
                </v-col>
                <v-col cols="12" sm="10" md="10">
                  <h5 class="text--primary">
                    Laporan Penjualan Cabang
                  </h5>
                  <div class="text--primary">
                    Menu untuk menambahkan data penjualan sesuai laporan tutup buku harian
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import moment from 'moment'
  export default {
    data() {
      return {
        data: [],
        loading: false,
        moment
      }
    },
    name: 'Cabang',
    computed: {
      ...mapGetters({
        user: 'auth/user'
      }),
      notifikasi() {
        this.loading = true
        let message = '';
        if (!this.data) {
          message = 'Segera lakukan pemesanan bahan baku';
        }
        if (this.data && this.data.status == 'pemesanan') {
          message = 'pemesanan bahan baku berhasil dikirim';
        }
        if (this.data && this.data.status == 'terima-barang') {
          message = 'segera lakukan laporan penjualan';
        }
        if (this.data && this.data.status == 'tutup-buku') {
          message = 'Laporan Penjualan berhasil dikirim';
        }
        this.loading = false
        return message
      },

    },
    methods: {
      async loadData() {
        const response = await this.$axios.get('/v1/list/surat-jalan');
        this.data = response.data.result;
      },
    },
    mounted() {
      this.loadData();
    },
  }
</script>