<template>
  <v-row>
    <v-col cols="12" sm="12" md="12">
      <v-card class="mx-auto text-center" outlined tile elevation="5" :color="$store.state.color" dark>
        <v-card-text>
          <h5 class="text-white">Selamat Datang, {{user.username}} </h5>
        </v-card-text>
      </v-card>
      <v-row align="center">
        <v-col cols="12" sm="12" md="6">
          <v-card class="mx-auto text-decoration-none" outlined tile elevation="5" link
            to="/grafik">
            <v-card-text>
              <v-row align="center">
                <v-col cols="12" sm="2" md="2">
                  <v-icon large >
                    mdi-chart-bar
                  </v-icon>
                </v-col>
                <v-col cols="12" sm="10" md="10">
                  <h5 class="text--primary">
                    Lihat Grafik
                  </h5>
                  <div class="text--primary">
                    Menu untuk Melihat data dalam Grafik
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="12" md="6">
          <v-card class="mx-auto text-decoration-none" outlined tile elevation="5"
            link
            to="/laporan">
            <v-card-text>
              <v-row align="center">
                <v-col cols="12" sm="2" md="2">
                  <v-icon large>
                    mdi-table
                  </v-icon>
                </v-col>
                <v-col cols="12" sm="10" md="10">
                  <h5 class="text--primary">
                    Lihat Tabel
                  </h5>
                  <div class="text--primary">
                    Menu untuk Melihat data dalam Tabel
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
  import moment from 'moment';
  import ChartCabang from "../../components/ChartCabang.vue";
  import ChartPerbandingan from "../../components/ChartPerbandingan.vue";
  import {
    mapGetters
  } from "vuex";
  export default {
    components: {
      ChartCabang,
      ChartPerbandingan,
    },
    data() {
      return {
        menu: false,
        modal: false,
        render: false,
        picker: moment().format('YYYY-MM-DD'),
        moment,
        form: {
          cabang: null,
          tanggal: null
        },
        listCabang: []
      };
    },
    name: "Ceo",
    computed: {
      ...mapGetters({
        user: "auth/user",
      }),
      tutupBukuBulanan() {
        return moment().endOf('month').format('YYYY-MM-DD')
      },
    },
    methods: {
      async loadData() {
        const response = await this.$axios.get("/v1/list/cabang");
        this.listCabang = response.data.result;
      },
      isEmpty(obj) {
        for (var key in obj) {
          if (obj.hasOwnProperty(key))
            return false;
        }
        return true;
      },
      mouseEnter(date) {
        if (date == this.tutupBukuBulanan) {
          alert('Tanggal Tutup Buku Bulanan')
        }
      },
      resetFilter(){
        this.form.cabang = null
        this.form.tanggal = null
      }
    },
    watch: {
      'form.tanggal': async function (val) {
        this.render = false
        await this.$nextTick()
        this.render = true
      },
      'form.cabang': async function (val) {
        this.render = false
        await this.$nextTick()
        this.render = true
      },
    },
    mounted() {
      this.loadData();
    },
  };
</script>