<template>
  <v-row>
    <v-col cols="12" sm="12" md="6">
      <v-card class="mx-auto" outlined tile elevation="5">
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Nomor
                </th>
                <th class="text-left">
                  Tanggal
                </th>
                <th class="text-left" width="1">
                  Aksi
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in data" :key="item.id">
                <td>{{ item.nomor }}</td>
                <td>{{ moment(item.tanggal).locale('id').format('DD MMMM YYYY') }}</td>
                <td>
                  <v-btn icon dark small color="teal accent-4" v-if="item.status == 'pemesanan'">
                    <v-icon dark @click="loadDataPemesanan(item.id)" title="Konfirmasi">
                      mdi-send
                    </v-icon>
                  </v-btn>
                  <v-btn icon dark small color="success" v-else title="Selesai">
                    <v-icon dark @click="loadDataPemesanan(item.id)" title="Lihat">
                      mdi-eye
                    </v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
    </v-col>
    <v-col cols="12" sm="12" md="6" v-if="isConfirm">
      <v-card class="mx-auto" outlined tile elevation="5">
        <v-card-text>
          <h3>
            {{ surat_jalan.status == 'pemesanan' ? 'Form Konfirmasi' : 'Detail' }}
            <v-btn color="blue-grey" icon dark small title="Konfirmasi" @click="isConfirm = !isConfirm">
              <v-icon dark small>
                mdi-close
              </v-icon>
            </v-btn>
          </h3>
          <v-divider></v-divider>
          <v-row align="center">
            <v-col cols="12" sm="6" md="6">
              <table>
                <tbody>
                  <tr>
                    <td>Kode : {{surat_jalan.cabang.kode}}</td>
                  </tr>
                  <tr>
                    <td>Nama : {{surat_jalan.cabang.nama}}</td>
                  </tr>
                  <tr>
                    <td>Alamat : {{surat_jalan.cabang.alamat}}</td>
                  </tr>
                </tbody>
              </table>
            </v-col>
            <v-col cols="12" sm="6" md="6">
              <table>
                <tbody>
                  <tr>
                    <td>Nomor : {{surat_jalan.nomor}}</td>
                  </tr>
                  <tr>
                    <td>Tanggal : {{moment(surat_jalan.tanggal).locale('id').format('DD MMMM YYYY')}} </td>
                  </tr>
                </tbody>
              </table>
            </v-col>
          </v-row>
          <v-row align="center" v-if="surat_jalan.status == 'pemesanan'">
            <v-col cols="12" sm="6" md="6">
              <v-btn color="success" fab dark small title="Konfirmasi" @click="submit">
                <v-icon dark>
                  mdi-send
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="6" md="6">
              <v-textarea prepend-icon="mdi-comment" clear-icon="mdi-close-circle" clearable outlined auto-grow rows="1"
                label="Keterangan Pesanan" disabled v-model="surat_jalan.keterangan"></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Bahan Baku
                </th>
                <th class="text-left">
                  Qty
                </th>
                <th class="text-left" v-if="surat_jalan.status == 'pemesanan'">
                  Aksi
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, key) in form.data" :key="key">
                <td>
                  <input type="text" class="form-control" readonly
                    :value="`${item.bahan_baku.nama} - ${item.bahan_baku.satuan}`" :class="item.error ? 'mt-5': ''">
                  &nbsp;<span class="text-danger" v-if="item.error"><i>{{item.error}}</i></span>
                </td>
                <td>
                  <input :type="surat_jalan.status == 'terima-barang' ? 'text' : 'number'" class="form-control"
                    v-model="item.qty" :disabled="surat_jalan.status == 'terima-barang'">
                </td>
                <td v-if="surat_jalan.status == 'pemesanan'">
                  <v-btn icon dark small color="red">
                    <v-icon dark @click="removeRow(key, item.id)">
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import moment from 'moment'
  export default {
    data() {
      return {
        data: [],
        isConfirm: false,
        id: null,
        form: {
          data: [{
            id: null,
            qty: 0,
            error: null
          }]
        },
        surat_jalan: {
          nomor: null,
          tanggal: null,
          cabang: null,
        },
        moment
      }
    },
    name: 'Cabang',
    components: {},
    computed: {
      ...mapGetters({
        user: 'auth/user'
      })
    },
    methods: {
      async loadData() {
        const response = await this.$axios.get('/v1/list/surat-jalan');
        this.data = response.data.result;
      },
      async loadDataPemesanan(id) {
        const response = await this.$axios.get('v1/pemesanan/show/' + id);
        this.form.data = response.data.result.pemesanan;
        this.surat_jalan = response.data.result
        this.isConfirm = true
        this.id = id
      },
      async submit() {
        this.$swal.fire({
          title: 'Apakah kamu yakin?',
          text: "konfirmasi pesanan !",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          reverseButtons: true
        }).then(async (result) => {
          if (result.isConfirmed) {
            const response = await this.$axios.put('v1/pemesanan/update/' + this.id, this.form);
            if (response.data.code == 422) {
              this.form.data = response.data.result;
            }
            if (response.data.code == 200) {
              this.$swal.fire({
                title: 'Berhasil',
                text: 'Pesanan Berhasil dikonfirmasi',
                icon: 'success',
                confirmButtonText: 'Oke'
              })
              this.isConfirm = false
              this.loadData()
            }
          }
        })

      },
      async removeRow(key, id) {
        this.$swal.fire({
          title: 'Apakah kamu yakin?',
          text: "menghapus barang ini",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          reverseButtons: true
        }).then(async (result) => {
          if (result.isConfirmed) {
            if (this.form.data.length > 1) {
              await this.$axios.delete('v1/pemesanan/delete/' + id);
              this.form.data.splice(key, 1);
            }
          }
        })

      }
    },
    mounted() {
      this.loadData();
    },
  }
</script>