<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app v-if="authenticated" :color="$store.state.color" dark>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Menu
          </v-list-item-title>
          <v-list-item-subtitle class="text-white" v-if="user">
            Halo, {{user.username || null }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list nav>
        <v-list-item link to="/" class="text-decoration-none">
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app height="60px" v-if="authenticated" :color="$store.state.color" dark dense>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>{{title}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click.prevent="logout" title="Logout">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <router-view></router-view>
    </v-main>
    <Footer></Footer>
  </v-app>
</template>
<script>
  import {
    mapGetters,
    mapActions
  } from 'vuex'
  import Footer from '@/components/Footer'
  export default {
    name: 'App',
    components: {
      Footer
    },
    metaInfo() {
      return {
        title: this.$store.state.name,
      }
    },
    data: () => ({
      drawer: false,
    }),
    computed: {
      ...mapGetters({
        authenticated: 'auth/authenticated',
        user: 'auth/user'
      }),
      title(){
        return this.$store.state.name_full 
      }
    },
    methods: {
      ...mapActions({
        logoutAction: 'auth/logout'
      }),
      logout() {
        this.logoutAction().then(() => {
          this.$router.push({
            path: '/login'
          })
        })
      }
    },
  }
</script>

<style>
  .v-main {
    margin-left: 20px;
    margin-right: 20px;
  }
</style>