<template>
  <span>
    <HomeCabang v-if="user.role == 'cabang'" />
    <HomeCeo v-if="user.role == 'ceo'" />
    <HomeProduksi v-if="user.role == 'produksi'" />
  </span>
</template>

<script>
  import HomeCabang from './Home/Cabang.vue';
  import HomeCeo from './Home/Ceo.vue';
  import HomeProduksi from './Home/Produksi.vue';
  import {
    mapGetters
  } from 'vuex'
  export default {
    name: 'Home',
    components: {
      HomeCabang,
      HomeCeo,
      HomeProduksi,
    },
    computed: {
      ...mapGetters({
        user: 'auth/user'
      })
    },
  }
</script>