<template>
  <v-container fluid fill-height>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="5" md="5">
        <v-card class="mx-auto" outlined tile elevation="5" :color="$store.state.color" dark>
          <v-card-text>
            <div class="d-flex flex-column justify-space-between align-center">
              <img width="50%" src="@/assets/logo.png"/>
              <h1 class="text-white mt-5">{{ $store.state.name }}</h1>
            </div>
            <form @submit.prevent="submit">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email" v-model="form.email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password"
                  v-model="form.password">
              </div>
              <v-btn type="submit" outlined block>Login</v-btn>
            </form>
          </v-card-text>
          <loading :active='loading' />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import {
    mapActions,
    mapGetters
  } from 'vuex'
  export default {
    data: () => ({
      form: {
        email: "",
        password: ""
      },
      loading: false
    }),

    methods: {
      ...mapActions({
        login: 'auth/login'
      }),
      submit() {
        this.loading = true
        this.login(this.form).then(() => {
          this.loading = false
          this.$router.push({
            path: '/'
          })
        }).catch((e) => {
          this.loading = false
          this.$swal.fire({
            title: 'Error!',
            text: 'Email atau Password anda salah',
            icon: 'error',
            confirmButtonText: 'Oke'
          })
        })
      },
    },
  }
</script>