<template>
  <v-row align="center">
    <v-col cols="12" sm="12" md="12">
      <v-card elevation="5" class="mx-auto">
        <v-card-text>
          <v-row>
            <v-col cols="12" sm="12" md="6">
              <h3>
                Form Pemesanan
              </h3>
            </v-col>
            <v-col cols="12" sm="12" md="6" v-if="cekJam">
              <v-alert dense border="left" type="warning">
                peringatan data diinput lebih dari batas waktu yang ditentukan, berikutnya silahkan lakukan pemesanan sebelum
                jam 10 pagi
              </v-alert>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row align="center">
            <v-col cols="12" sm="12" md="6">
              <table>
                <tbody>
                  <tr>
                    <td>Kode : {{user.cabang.kode}}</td>
                  </tr>
                  <tr>
                    <td>Nama : {{user.cabang.nama}}</td>
                  </tr>
                  <tr>
                    <td>Alamat : {{user.cabang.alamat}}</td>
                  </tr>
                </tbody>
              </table>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <table>
                <tbody>
                  <tr>
                    <td>Nomor : {{form.nomor}}</td>
                  </tr>
                  <tr>
                    <td>Tanggal : {{tanggal}} </td>
                  </tr>
                </tbody>
              </table>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row align="center">
            <v-col cols="12" sm="6" md="6">
              <v-btn color="blue-grey" fab dark small title="Kembali" link to="/" class="text-decoration-none">
                <v-icon dark>
                  mdi-arrow-left
                </v-icon>
              </v-btn>
              &nbsp;
              <v-btn color="primary" fab dark small title="Tambah Bahan Baku" @click="addRow">
                <v-icon dark>
                  mdi-plus
                </v-icon>
              </v-btn>
              &nbsp;
              <v-btn color="success" fab dark small title="Kirim" @click="submit">
                <v-icon dark>
                  mdi-send
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="6" md="6">
              <v-textarea prepend-icon="mdi-comment" clear-icon="mdi-close-circle" clearable outlined auto-grow rows="1"
                label="Tambahkan Keterangan Pesanan" v-model="form.keterangan"></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Bahan Baku
                </th>
                <th class="text-left">
                  Qty
                </th>
                <th class="text-left">
                  Aksi
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, key) in form.data" :key="key">
                <td>
                  <multiselect v-model="item.bahan_baku" :options="listBahanBaku" track-by="nama" label="nama"
                    :class="item.error ? 'mt-5': ''">
                    <template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.nama }} -
                        {{ option.satuan }}</strong></template>
                  </multiselect>
                  &nbsp;<span class="text-danger" v-if="item.error">kesalahan : {{item.error}}</span>
                </td>
                <td>
                  <input type="number" class="form-control" v-model="item.qty">
                </td>
                <td>
                  <v-btn icon dark small color="red">
                    <v-icon dark @click="removeRow(key)">
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import moment from 'moment'
  export default {
    data() {
      return {
        form: {
          nomor: "",
          keterangan: "",
          data: [{
            bahan_baku: {},
            qty: 0,
            error: null
          }]
        },
        listBahanBaku: [],
      }
    },
    name: 'Pemesanan',
    methods: {
      async loadData() {
        const template = await this.$axios.get('v1/pemesanan/template');
        this.form.data = template.data.result;
        const response = await this.$axios.get('v1/list/bahan-baku');
        this.listBahanBaku = response.data.result;
      },
      submit() {
        let items = '';
        let keterangan_pesanan = `
          <p>Keterangan Pesanan : <br>${this.form.keterangan}</p>
        `;
        this.form.data.forEach(item => {
          items +=
            `<p>${item.bahan_baku.nama || 'kosong'} - ${item.bahan_baku.satuan || 'kosong'} : ${item.qty}</p>`
        });
        let html = `
        <div>
            <h4>Pemesanan bahan baku sudah benar?</h4>
            ${keterangan_pesanan}
            <h6>Detail Bahan Baku yang dipesan:</h6>
            ${items}
            <h6></h6>
            <p>Data yang sudah dikirim tidak dapat diubah</p>
          </div>
        `;
        this.$swal.fire({
          html: html,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          reverseButtons: true
        }).then(async (result) => {
          if (result.isConfirmed) {
            const response = await this.$axios.post('v1/pemesanan/store', this.form);
            if (response.data.code == 422) {
              this.form.data = response.data.result;
            }
            if (response.data.code == 200) {
              this.$swal.fire({
                title: 'Berhasil',
                text: 'Pemesanan Berhasil dikirim',
                icon: 'success',
                confirmButtonText: 'Oke'
              }).then(() => {
                this.$router.push({
                  path: '/'
                })
              })
            }
          }
        })
      },
      addRow() {
        this.form.data.push({
          bahan_baku: [],
          qty: 0,
          error: null
        })
      },
      removeRow(key) {
        if (this.form.data.length > 1) {
          this.form.data.splice(key, 1);
        }
      }
    },
    computed: {
      ...mapGetters({
        user: 'auth/user'
      }),
      tanggal() {
        return moment().locale('id').format('D MMMM Y');
      },
      cekJam() {
        return parseInt(moment().format('HH')) > 10;
      }

    },
    mounted() {
      this.form.nomor = `SJ-${this.user.cabang.kode}-${moment().format('DMY')}`
      this.loadData();
    }
  }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
  .v-application ul {
    padding-left: 0px;
  }

  .v-data-table__wrapper {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
  }
</style>