<template>
  <v-row align="center">
    <v-col cols="12" sm="12" md="12">
      <v-card elevation="5" class="mx-auto">
        <v-card-text>
          <h3>Form Penjualan</h3>
          <v-divider></v-divider>
          <v-row align="center">
            <v-col cols="12" sm="6" md="6">
              <table>
                <tbody>
                  <tr>
                    <td>Kode : {{user.cabang.kode}}</td>
                  </tr>
                  <tr>
                    <td>Nama : {{user.cabang.nama}}</td>
                  </tr>
                  <tr>
                    <td>Alamat : {{user.cabang.alamat}}</td>
                  </tr>
                </tbody>
              </table>
            </v-col>
            <v-col cols="12" sm="6" md="6">
              <table>
                <tbody>
                  <tr>
                    <td>Nomor : {{nomor}}</td>
                  </tr>
                  <tr>
                    <td>Tanggal : {{tanggal}} </td>
                  </tr>
                </tbody>
              </table>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row align="center">
            <v-col cols="12" sm="6" md="6">
              <v-btn color="blue-grey" fab dark small title="Kembali" link to="/" class="text-decoration-none">
                <v-icon dark>
                  mdi-arrow-left
                </v-icon>
              </v-btn>
              &nbsp;
              <v-btn color="success" fab dark small title="Kirim" @click="submit">
                <v-icon dark>
                  mdi-send
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="12" sm="12" md="12">
                <div class="form-group">
                  <label for="pendapatan_kotor">Pendapatan Kotor</label>
                  <input type="text" class="form-control" id="pendapatan_kotor" placeholder="Pendapatan Kotor"
                    @input="handleInputPendapatanKotor($event)" :value="pendapatan_kotor">
                  <span class="text-danger"
                    v-if="errors && errors.pendapatan_kotor">{{ errors.pendapatan_kotor[0] }}</span>
                </div>
                <div class="form-group">
                  <label for="pajak">Pajak</label>
                  <input type="text" class="form-control" id="pajak" placeholder="Pajak %" v-model="form.pajak"
                    readonly>
                  <span class="text-danger" v-if="errors && errors.pajak">{{ errors.pajak[0] }}</span>
                </div>
                <div class="form-group">
                  <label for="pendapatan_bersih">Pendapatan Bersih</label>
                  <input type="text" class="form-control" id="pendapatan_bersih" placeholder="Pendapatan Bersih"
                    :value="pendapatan_bersih" readonly>
                  <span class="text-danger"
                    v-if="errors && errors.pendapatan_bersih">{{ errors.pendapatan_bersih[0] }}</span>
                </div>
            </v-col>

          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import moment from 'moment'
  export default {
    data() {
      return {
        form: {
          pendapatan_kotor: null,
          pajak: '10%',
          pendapatan_bersih: null,
        },
        pendapatan_kotor: null,
        pendapatan_bersih: null,
        nomor: null,
        errors: null
      }
    },
    name: 'Penjualan',
    methods: {
      submit() {
        this.$swal.fire({
          title: 'Apakah kamu yakin?',
          text: "kirim penjualan hari ini !",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Ya',
          cancelButtonText: 'Batal',
          reverseButtons: true
        }).then(async (result) => {
          if (result.isConfirmed) {
            const response = await this.$axios.put('v1/penjualan/update/' + this.$route.params.id, this.form);
            if (response.data.code == 200) {
              this.$swal.fire({
                title: 'Berhasil',
                text: 'Penjualan Berhasil dikirim',
                icon: 'success',
                confirmButtonText: 'Oke'
              }).then(() => {
                this.$router.push({
                  path: '/'
                })
              })
            }
          }
        }).catch((e) => {
          this.errors = e.response.data.message;
        })
      },
      formatRupiah(angka, prefix) {
        const result = angka.replace(/\D/g, "")
          .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        return result
      },
      handleInputPendapatanKotor(event) {
        let uang = this.formatRupiah(event.target.value);
        this.form.pendapatan_kotor = parseFloat(uang.replace(/\D/g, ""));
        this.pendapatan_kotor = uang
        uang = parseFloat(uang.toString().replace(/\D/g, ""))
        let pendapatan_bersih = uang - ((uang * 10) / 100);
        this.form.pendapatan_bersih = pendapatan_bersih
        this.pendapatan_bersih = this.formatRupiah(pendapatan_bersih.toString());
      }
    },
    computed: {
      ...mapGetters({
        user: 'auth/user'
      }),
      tanggal() {
        return moment().local('id').format('D MMMM Y');
      }
    },
    mounted() {
      this.nomor = `SJ-${this.user.cabang.kode}-${moment().format('DMY')}`
    },
  }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
  .v-application ul {
    padding-left: 0px;
  }

  .v-data-table__wrapper {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
  }
</style>